<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stan's blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Stan's Blog</a></h1>
    </header>

    <article>
        <time datetime="2024-07-20T15:05:20">published: 20.07.2024, 15:05</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sunt repellendus hic facere nemo eveniet iusto, est corrupti voluptatem suscipit?</p>
    </article>

    <article>
        <time datetime="2024-07-19T18:30:43">published: 19.07.2024, 18:30</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sunt repellendus hic facere nemo eveniet iusto, est corrupti voluptatem suscipit?</p>
    </article>

</body>
</html>